* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
h6 {
  font-size: 0.813rem;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;

}
.logo img {
  width: 60px;
}
/* body{
  color: #999;
} */
.pointer {
  cursor: pointer;
}
.btn-warn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: rgb(139, 49, 49);
  color: #fff;
}

.main_header {
  box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.main_header i {
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 19px;
  height: 36px;
  line-height: 36px;
  margin: 0 2px;
  text-align: center;
  width: 36px;
}
.create_customer i {
  background: #8b5cf6;
  width: 31px;
  height: 32px;
  text-align: center;
  padding-top: 9px;
  border-radius: 0 5px 5px 0px;
  color: #fff;
}
.create_customer input,
.create_customer select {
  width: 100%;
  appearance: none;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  display: flex;
  padding: 0 0 4px;
  white-space: normal;
  padding: 5px;
  outline: none;
  background: #f3f4f6;
  font-size: 13px;
}
.create_customer select.active {
  border-radius: 5px 0px 0px 5px;
}
.create_customer select option {
  border-radius: 0;
}
.card_left {
  box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%), 0 1px 4px rgb(0 0 0 / 8%);
  /* position: fixed; */
  height: 100vh;
  position: relative;
}
.last_select {
  border-bottom: 2px solid #d1d5db !important;
}

table tbody tr:nth-child(odd) {
  background: #f3f2f4;
}
/* table.table {
  width: 565px;
} */
.qt_input {
  width: 30px;
  outline: none;
  border: none;
  margin-left: 5px !important;
}
.scroll_table {
  overflow-x: scroll;
  overflow-y: scroll;
  white-space: nowrap;
  height: 550px;
  max-width: 100%;
}
.payment {
  position: absolute;
  bottom: 0;
  /* max-width: 613px; */
  width: 100%;
}
.payment h3 {
  width: 100%;
}
.grand_total {
  background-color: #7ec8ca;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}
.pos-btn button {
  outline: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 30px;
}
.pos-btn button.danger {
  background: #ef4444;
  margin: 0 10px 0 0;
}
.pos-btn button.primary {
  background: #8b5cf6;
}
@media (max-width: 768px) {
  .card_left {
    position: inherit;
  }
}

/* right side */

.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  outline: none;
}
.btn-primary {
  background-color: #7c3aed;
  border-color: #7c3aed;
}
.card_right {
  box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%);
}
.pagination a {
  text-decoration: none;
  color: #000;
  margin: 0 10px;
  text-align: center;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination a.active {
  background: #7c3aed;
  color: #fff;
  border-radius: 50%;
}
.transform h4 {
  font-size: 1rem;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background: #7c3aed;
  width: fit-content;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
}

.popup_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: scroll;
}
.popup_container .container {
  background: #fff;
  border-radius: 5px;
  position: relative;
}
.popup_container .container .right,
.popup_container .container .left {
  padding: 15px;
  border-radius: 5px;
  border-right: 1px solid #d1d5db;
}
.popup_container .container .left {
  border-left: 1px solid #d1d5db;
  border-right: none;
}
.cs-input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cs-input-group input {
  width: 70% !important;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d1d5db;
  padding: 5px;
  font-size: 13px;
}
.taka_fixed span {
  font-size: 17px;
  padding: 8px;
  text-align: center;
  background: #f3f4f6;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}
.cs-input-group input[type="button"]:nth-child(2) {
  background-color: rgb(137, 4, 214);
  color: #fff;
  padding: 10px;
}
.cs-input-group input[type="button"]:nth-child(1) {
  width: 25%;
  background-color: rgb(4 175 214);
  color: #fff;
  padding: 10px;
}
.consider_box input {
  width: 20px;
}
.two-input-layout .left-side {
  width: 33%;
}
.two-input-layout .left-side input {
  display: block;
  width: 100%;
}
.two-input-layout .right-side {
  width: 65%;
}
.two-input-layout .right-side input {
  display: block;
  width: 100%;
}
.three-input-layout input {
  display: block;
  width: 100%;
}
.three-input-layout .right-side {
  width: 30%;
}
.three-input-layout .left-side {
  width: 30%;
}
.three-input-layout .middle-side {
  width: 30%;
}
.quit textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #d1d5db;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}
.close {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px 30px;
  background: rgb(139, 49, 49);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
}
.fixed-menu-left{
  max-width: 300px;
  width:300px;
  position: fixed;
  top: 0;
  left: -500px;
  z-index: 99999;
  background: #fff;
  box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%);
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  transition: all 0.5s;
}
.fixed-menu-left ul li a{
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  border-bottom: 1px solid #d1d5db;
  padding-bottom: 5px;
  font-size: 18px;
  color: #999;
}
.fixed-menu-left.fixed-menu{
  left: 0;
}
.brand-list{
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 99999;
  background: #fff;
  box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%);
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  transition: all 0.5s;
  width: 400px;
  max-width: 400px;
}
#brand.fixed-menu{
  right: 0;
}
#category.fixed-menu{
  right: 0;
}
#display.fixed-menu{
  top: 170px;
}

.display{
  width:200px;
  max-width:200px;
  position: absolute;
  top: -500px;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  background: #8b5cf6;
  box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%);
  z-index: 99999;
  border-radius: 5px;
  border: 1px solid #d1d5db;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: all 0.5s;
}
.display p{
  padding: 10px;
  margin-bottom: 0;
}
.display p:hover{
  background: #7c3aed;
  cursor: pointer;
}
.select_ul{
  width: 100%;
}
.select_ul li{
  margin-bottom: 10px;
  border-bottom: 1px solid #d1d5db;
  font-size: 18px;
  display: block;
  border-radius: 5px 5px 0 0;
}
.select_ul li span{
  border: 1px solid #7c3aed;
  width: 100%;
  display: block;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.select_ul li .select-option{
  padding: 10px;
  border-radius:  0 0 5px 5px;
  border: 1px solid #d1d5db;
  border-top: none;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 99999;
  display: none;
}
.select_ul li .select-option p{
  color: #7c3aed;
  margin-top: 5px;
  cursor: pointer;
}
#select.active,#select2.active,#select3.active,#select4.active{
  display: block;
}
.popup2{
  width: 350px;
  max-width: 350px;
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 1px solid #7c3aed;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
.popup2 .qt{
  width: 100%;
}
.popup2.active{
  display: block;
}
.popup2 button{
  background: #7c3aed;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.button button{
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid #8950FC;
  outline: none;
  color: #7c3aed;
}
.button button:nth-child(1){
  background: #7c3aed;
  color: #fff;
  border-radius: 5px;
}
.item .col-3{
  width: 20%;
}

@media (max-width: 767px){
  .payment {
    position: inherit;
    bottom: 0;
    width: 100%;
  }
  table.table{
    width:760px;
  }
}

@media (max-width: 575px){
  .item .col-3{
    width: 33%;
  }
}

@media (max-width: 350px){
  .item .col-3{
    width: 50%;
  }
}

.left select{
  width: 80%;
  border: 1px solid #d1d5db;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}

/* .left_form,.left_form .cs-input-group,.left_form legend,.left_form label,.left_form .cs-input-group input{
  width: 100%;
  display: block;
} */



.container {
  width: 100%;
}
.result {
  width: 59.1%;
}
 .calc_wrapper input {
  padding: 25px;
  color: rgb(17, 17, 17);
  font-size: 20px;
  cursor: pointer;
  width: 24%;
  background-color:  #fff;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
  border: none;
  outline: none;
  border-radius: 5px;
}

.calc_wrapper .first-row input.result {
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 13px;
}
input.calc::placeholder {
  color: rgb(17, 17, 17);
}
input.calc {
  width: 74%;
  color: rgb(0, 0, 0);
}
input[type="button"]:hover {
  background-color: #8b5cf6;
  color: #fff;
}
#clear {
  color: #fff;
  background-color: rgb(139, 49, 49);
}
button {
  border: none;
  padding: 8px;
  color: white;
  margin: 2px;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 200;
  font-weight: 600;
}


.bottom-buttons {
  display: flex;
  margin-left: -2.3px;
}
.calc_wrapper{
  box-sizing: border-box;
  /* box-shadow: 0 4px 20px 1px rgb(0 0 0 / 32%); */
  padding: 10px;
  border-radius: 5px;
}
.item .col-3{
  text-align: center;
}
.item .col-3 img{
  width: 120px;
  display: block;
  margin: 0 auto;
}
.alert{
  background: rgb(77 181 77 / 81%);
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 10px;
  width: 190px;
  z-index: 99999;
  color: #fff;
  opacity: 0;
}
.alert.active{
  animation: alert 3s alternate;
}

@keyframes alert {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.transform select {
  width: 48%;
  border: 1px solid #d1d5db;
  outline: none;
  border-radius: 5px;
  padding: 10px;
}

.calculator {
  position: fixed;
  top:20%;
  right: 10px;
  font-size: 30px;
  background-color: #7c3aed;
  color: #fff;
  padding: 10px;
  border-radius:7px;
  z-index: 999;
}

.last_select ul li{
  cursor: pointer;
}
.brand-list{
  overflow-y: scroll;
}
.brand-list.suplier input{
  width: 100%;
  border: 1px solid #d1d5db;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.brand-list label{
  font-size: 14px;
  margin-bottom: 5px;
}
.category_section .last_select .select_ul{
  width:48%;
}
.clear_data_warning{
  background: #fff;
  border: 1px solid #f57878;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}
.clear_data_warning.active{
  display: block;
}
.clear_data_warning i{
  font-size:50px;
  font-weight: bold;
  color:red;
}